@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@RenderSection("styles", required: false)



<h1 class="text-center">ParxSIS</h1>

@RenderBody()

@RenderSection("scripts", required: false)