@model int

<h2>Garage</h2>

<div class="container">
    <div class="row">
        <div class="col-md-12" id="clients-grid">
            @Html.Partial("_Clients", Model)
        </div>
    </div>
</div>

